@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/proxima-nova-regular.woff")
}

@font-face {
  font-family: "BelloScript";
  src: url("/fonts/bello-script.ttf")
}

body {
  margin: 0;
}

header {
  background-color: #4f88ef;
  display: flex;
  flex-direction: column;
  height: 70px;
}

.header--active {
  height: 100vh;
}

header > h1 {
  color: white;
  font-family: BelloScript;
  font-size: 26px;
  line-height: 1.4;
  text-align: center;
}

.header__button {
  background: url(./img/group.svg) no-repeat center;
  border: none;
  padding: 10px;
  position: absolute;
  right: 18px;
  top: 24px;
  transition: 0.2s;
}

.header__button--close {
  background: url(./img/shape.svg) no-repeat center;
}

.header__drawer {
  background-color: #4f88ef;
  display: none;
  font-family: ProximaNova;
  font-size: 24px;
  height: 100vh;
  justify-content: center;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}

.header__drawer--active {
  display:flex;
}

.header__drawer__item{
  color: white;
  display: inline-block;
  margin-bottom: 44px;
  padding: 3px 12px;
  text-decoration: none;
}

.header__drawer__item--active {
  background-color: #1166a5;
  border-radius: 4px;
}

.header__drawer > ul {
  list-style-type: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding: 0;
}

.header__logo {
  display: none;
}

.header__user-icon {
  display: none;
}

.header__arrow-down {
  display: none;
}

.header__user-button {
  display: none;
}

@media screen and (min-width: 1024px){
  header {
    height: 70px;
  }

  header > h1 {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header__drawer {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  nav > ul{
    display: flex;
    margin: 0;
  }

  .header__drawer a {
    font-size: 14px;
    margin: 0 12px;
    padding: 8px 18px;
  }

  .header__user-button {
    background-color: white;
    border-radius: 18px;
    border: none;
    display: flex;
    padding: 18px 65px;
    position: absolute;
    right: 46px;
    top: 18px;
  }
  .header__logo {
    display: flex;
    height: 10px;
    position: absolute;
    right: 90px;
    top: 30px;
    width: 75px;
  }

  .header__user-icon {
    border-radius: 90px;
    display: flex;
    height: 32px;
    position: absolute;
    right: 48px;
    top: 20px;
    width: 32px;
  }

  .header__arrow-down {
    border-radius: 90px;
    color: white;
    display: flex;
    height: 8px;
    position: absolute;
    right: 32px;
    top: 32px;
    width: 8px;
  }
}
